# .pre-commit-config.yaml
repos:
- repo: https://github.com/aws-cloudformation/cfn-lint
  rev: v1.25.1  # Use the latest version
  hooks:
    - id: cfn-lint
      files: assets/cloudformation/.*\.(yaml|yml|json|template)$
      # Optionally add specific arguments
      exclude: ^(.pre-commit-config.yaml)$

- repo: local
  hooks:
    - id: cfn_nag
      name: cfn_nag
      description:  Looks for patterns in CloudFormation templates that may indicate insecure infrastructure.
      entry: cfn_nag_scan --deny-list-path .deny-list.yml --input-path
      language: ruby
      exclude: ^(.pre-commit-config.yaml)$
      files: assets/cloudformation/.*\.(yaml|yml|json|template)$

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    -   id: shellcheck
        files: scripts/.*\.(sh)$
        args:
          - --exclude=SC2086,SC2046,SC2155
          - --severity=error
